@model Capa_de_Modelo.Producto
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="filters">
                    <ul>
                        <li class="active" data-filter="*">All Products</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12">
                <div class="filters-content">
                    <div class="row grid">
                        @foreach (Capa_de_Modelo.Producto producto in Model.Productos)
                        {
                            <div class="col-lg-4 col-md-4 all des" style="height:370px;">
                                <div class="product-item">
                                    @if (producto.Imagen != null)
                                    {
                                        <td><img src="data:image/jpeg;base64,@Convert.ToBase64String(producto.Imagen)" style=" height:150px; width: 150px;" /></td>
                                    }
                                    else
                                    {
                                        <td><img src="~/Content/sinimagen.jpg" style=" height:150px; width:150px;" /></td>
                                    }
                                    <div class="down-content">
                                        <a href="#"><h4>@producto.Nombre</h4></a>
                                        <h6>$@producto.Precio</h6>
                                        <p>@producto.Descripcion</p>
                                        <ul class="stars">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                        <a href="@Url.Action("Carrito", "Venta", new { IdProducto = producto.IdProducto })" class="btn btn-primary" style=" font-weight:bold;">Agregar al carrito</a>
                                    </div>
                                </div>
                            </div>
                        }
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
